<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://fonts.googleapis.com/ css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
<header id="header" class="header">
    <div class="container">
        <div class="nav">
            <img src="/IMG/1593408220_120.jpg" alt="Burning Man" class="logo">
            <ul class="menu">
                <li>
                    <a id="login" class="login" href="#">
                        login
                    </a>
                </li>
                <li>
                    <a href="#">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="#">
                        Мой профиль
                    </a>
                </li>
                <li>
                    <a href="#">
                        Поддержка
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contacts
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

</body>
</html>