.auten {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auten h1 {
    font-size: 35px;
    color: #938383;
}

.auten h2 {
    font-size: 20px;
    color: red;
}

.auten form {
    margin-top: 20px;
}

.auten label {
    font-size: 25px;
    color: #938383;
}

.auten input[type="text"],
.auten input[type="password"] {
    font-size: 25px;
    color: #938383;
    border: none;
    border-bottom: 2px solid #938383;
    padding: 5px;
    margin-bottom: 10px;
}

.auten input[type="text"]::placeholder,
.auten input[type="password"]::placeholder {
    color: #938383;
}

.auten input[type="submit"] {
    font-size: 25px;
    color: white;
    background-color: #938383;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.auten a {
    font-size: 25px;
    color: #938383;
    margin-top: 10px;
    text-decoration: none;
}

.auten a:hover {
    text-decoration: underline;
}