body {
    font-family: sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #938383;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

h1 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    width: auto;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
}

nav a:hover {
    background-color: #bb8989;
    color: #ffffff;
    border-bottom:  #bb8989;

}

.logo img{
    margin-left: 280%;
    border-radius: 10px;
}

main {
    margin-top: 40px;
}

section {
    padding: 20px;
}

h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

p {
    font-size: 1.5em;
    color: #000000;
}

img {
    max-width: 100%;
}

.specialist1 {
    display: flex;
    flex-direction: column;
}

.specialist1 img {
    width: 50%;
    height: 30%;
    border-radius: 15px;
}

.specialist2 img {
    width: 50%;
    height: 30%;
    border-radius: 15px;

}

footer {
    background-color: #938383;
    padding: 20px;
    text-align: center;
}

.skip-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
}

.logo {
    width: 200px;
}

.services ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services ul li {
    display: inline-block;
    margin-right: 20px;
}

.services ul li a {
    color: #000000;
    text-decoration: none;
}

.contacts {
    padding-top: 40px;
}

.contacts p {
    margin-bottom: 0;
}

.container6 p {
    color: #ffffff;
}

nav a {
    background-color: #938383;

}

.container1 {
    display: inline-block;
    margin-right: 20px;
}

.container2 img{
    border-radius: 30px;
}

.container4 div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}
.button_signup:hover{
    background-color: #bb8989;
    color: #ffffff;
    border-bottom:  #bb8989;
}

.container4 ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container4 li {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #938383;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.button_signup{
    background-color:#938383;
    border-radius: 15px;
    color: white;
    padding: 24px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
}
.logo {
    margin-right: 20px;
}

.registr{
    font-size: 25px;
    color: #938383;
    background-color: white;
    border: 2px solid #938383;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.registr tr{
    font-size: 25px;
    color: #938383;
    background-color: white;
    border: 2px solid #938383;
    border-radius: 5px;
    padding: 5px;
}