.container1 {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.container1 h2 {
    font-size: 20px;
    color: #938383;
}

.container1 h1 {
    font-size: 35px;
    color: #938383;
}

.container1 form {
    padding: 15px 30px;
    background-color: #938383;
    color: white;
    border: 3px solid black;
    font-size: 25px;
    border-radius: 7px;
}

.container1 form label {
    font-size: 25px;
    color: white;
}

.container1 form input[type="text"],
.container1 form input[type="date"],
.container1 form input[type="time"] {
    font-size: 25px;
    color: #938383;
    background-color: white;
    border: 2px solid #938383;
    border-radius: 5px;
    padding: 5px;
}

.container1 form .buttonRecord button {
    color: #938383;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.container1_3 option{
    color: #938383;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.container1_3 select{
    color: #938383;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #938383;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    color: white;

}

.button_home {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #938383;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




