.registr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registr h1 {
    font-size: 35px;
    color: #938383;
}

.registr h2 {
    font-size: 20px;
    color: red;
}

.registr #error {
    color: red;
    margin-bottom: 10px;
}

.registr form {
    margin-top: 20px;
}

.registr label {
    font-size: 25px;
    color: #938383;
}

.registr input[type="text"],
.registr input[type="password"] {
    font-size: 25px;
    color: #938383;
    border: none;
    border-bottom: 2px solid #938383;
    padding: 5px;
    margin-bottom: 10px;
}

.registr input[type="text"]::placeholder,
.registr input[type="password"]::placeholder {
    color: #938383;
}

.registr input[type="submit"] {
    font-size: 25px;
    color: white;
    background-color: #938383;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.registr table {
    margin-top: 10px;
}

.registr table tr td:first-child {
    width: 200px;
}

.registr table tr td:last-child {
    padding-left: 20px;
}

.registr table tr td label span {
    color: red;
}

.registr table tr td input:invalid {
    border-color: red;
}

.registr table tr td input:valid {
    border-color: #938383;
}
.button_home {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #938383;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}