.container1 {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.container1 h1 {
    font-size: 35px;
    color: #938383;
}

.container p {
    font-size: 25px;
    color: #938383;
}

.container1 .button {
    color: #938383;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}