@font-face {
    font-family: WebFont;
    src: url("/firstsemestr_war_exploded/resources/fonts/Inter-Black.ttf");
}
html{
    font-family: WebFont, serif;
}
body{
    background-image: linear-gradient(120deg, rgba(225, 193, 65, 0.94), rgba(255, 213, 0, 0.93));
    min-height: 100vh;
    box-sizing: border-box;
}
header{
    color: white;
    display: flex;
    justify-content: space-between;
}
.header__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__navigationbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li{
    list-style-type: none;
}
.main__table-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main__content{
    color: black;
    background-color: white;
    margin: 52px;
    height: 100%;
}
tbody{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tr_userinfo{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.friend_div{
    display: flex;
    justify-content: space-between;
}

.input_tableuserinfo{
    height: 192px;
    width: 387px;;
    border-color: #a4a0a0;
    border-style: solid;
    border-radius: 5px;
}