body {
    background-color: #fff;
}

.form-block {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control::placeholder {
    opacity: 0.6;
}