html{
    background-color: var(--color-dark);
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: var(--color-gray);
    box-shadow: var(--box-shadow);
}
.navbar-container{
    margin-left: 150px;
    display: flex;
}
.navbar-text{
    padding-top: 15px;
}
.navbar-text-link{
    color: var(--color-white);
    font-family: var(--family-mukta);
    font-size: 20px;
    text-decoration: none;
}
.logo-img{
    width: 70px;
    height: 70px;
}
.username{
    color: white;
}
.avatar{
    width: 160px;
    height: 200px;
    border: 2px solid white;
    border-radius: 15px;
}
