:root{
    --wight-left: 300px;
    --border-radius-15: 15px;
    --border-1-gray-light: 1px solid #89989f;
    --display: none;
    --wight-right: 335px;
}
html{
    background-color: var(--color-dark);
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    width: 100%;
}
.section-navbar{
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 675px;
    height: 60px;
    width: var(--wight-left);
}

.navbar-container{
    border-radius: var(--border-radius-15);
    height: 3em;
    display: flex;
    background-color: var(--color-gray-2);
    margin: 0 auto;
}
.container-block{
    display: flex;
    margin: 0 17%;
}
.navbar-text{
    padding-top: 0.5em;
}
.navbar-text-link{
    color: var(--color-white);
    font-family: var(--family-mukta);
    font-size: 20px;
    text-decoration: none;
}
.logo-img{
    width: 50px;
}
/*----*/
.dropdown{
    width: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 1;
}

.show {
    display: block;
}

.dropbtn {
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: var(--color-white);
    color: black;
    width: 100px;
    height: 50px;
    padding: 13px;
    font-size: 20px;
    border: none;
}

.dropdown-content a {
    color: black;
    padding: 13px;
    border-radius: 20px;
    width: 75px;
    height: 25px;
    text-decoration: none;
    background-color: white;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.container-search{
    border: var(--border-gray-1);
    margin-top: 15px;
    width: var(--wight-right);
    margin-left: 20px;
    background-color: var(--color-gray-2);
    border-radius: var(--border-radius-15);
    height: 47px;
    display: flex;
}
.search-img{
    position: absolute;
    top: 30px;
    width: 20px;
}
.search-btn{
    border: 0;
    background-color: var(--color-gray-2);
    border-radius: 0 15px 15px 0;
}
.container-search-input{
    margin-top: 2px;
    outline: none;
    border: 0;
    margin-left: 10px;
    width: 280px;
    height: 40px;
    color: var(--color-light-gray);
    font-size: 16px;
    background-color: var(--color-gray-2);
}
/*-------*/
.main {
    display: flex;
    width: 100%;
}
.container-profile{
    width: var(--wight-left);
    background-color: var(--color-gray-2);
    border-radius:  var(--border-radius-15);
    margin-left: 20px;
    margin-bottom: 15px;
}
.background{
    width: 100%;
    height: 85px;
    background-image: url("../img/poster-main.png");
    background-size: cover;
    border-radius: var(--border-radius-15) var(--border-radius-15) 0 0;
    z-index: -1;
}
.background-avatar {
    position: relative;
    width: 100%;
    height: 130px;
}

.avatar {
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.info{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.name{
    color: var(--color-white);
    font-size: 20px;
    margin-bottom: 5px;
}
.username{
    font-size: 15px;
    color: var(--color-light-gray);
    font-family: var(--family-heiti);
    margin-bottom: 5px;
}
.status{
    font-size: 15px;
    color: var(--color-white);
}
.activity{
    width: 100%;
    height: 90px;
    border-top: var(--border-gray-1);
    border-bottom: var(--border-gray-1);
    display: flex;
}
.container-item{
    width: 50%;
    text-align: center;
}
.line{
    margin: auto 0;
    height: 60px;
    border: var(--border-gray-1);
}
.item{
    color: var(--color-white);
    font-size: 20px;
    margin-top: 19%;
}
.item-text{
    font-size: 14px;
    color: var(--color-light-gray);
}
.link{
    width: 100%;
    text-align: center;
}
.container-link{
    font-size: 20px;
    line-height: 70px;
    font-family: var(--family-mukta);
}
.link-profile{
    text-decoration: none;
    color: var(--color-blue-light);
}
.container-friends{
    width: var(--wight-left);
    background-color: var(--color-gray-2);
    height: 275px;
    margin-left: 20px;
    border-radius: var(--border-radius-15);
}
.friends-header{
    width: 100%;
    height: 40px;
    color: var(--color-white);
    margin-bottom: 10px;
}
.header-text{
    padding-top: 15px;
    margin-left: 20px;
}
.friends-list{
    width: 100%;
    height: 210px;
}
.list-item{
    overflow: auto;
    height: 210px;
    width: 100%;
    margin-bottom: 5px;
}
.friend-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.friend-info{
    padding-top: 5px;
    margin-left: 15px;
}
.friend-name{
    padding-top: 5px;
    color: var(--color-white);
    margin-bottom: 3px;
}
.friend-username{
    color: var(--color-light-gray);
    font-size: 14px;
}
.friend{
    margin-left: 20px;
    width: 220px;
    display: flex;
    margin-bottom: 10px;
}
.friend-link{
    text-decoration: none;
}
.friends-more{
    width: 100%;
    height: 30px;
}
.friends-more-container{
    width: 100px;
    margin: 0 auto;
}
.main-tape-list{
    height: 520px;
    overflow: auto;
}
.main-tape-write{
    width: 755px;
    background-color: var(--color-gray-2);
    border-radius: var(--border-radius-15);
    margin-left: 20px;
    display: flex;
    margin-bottom: 10px;

}
.tape-write-avatar{
    margin-top: 15px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.message-container{
    width: 650px;
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    background-color: var(--color-gray-3);
    border-radius: 10px;
    margin-bottom: 15px;
}
.message-input{
    width: 620px;
    margin-top: 5px;
    margin-left: 10px;
    height: 35px;
    background-color: var(--color-gray-3);
    color: white;
    resize: none;
    outline: none;
    border: 0;
}
.message-submit{
    text-align: right;
}
.submit-btn{
    background-color: var(--color-gray-2);
    border: var(--border-gray-1);
    border-radius: 15px;
    width: 100px;
    height: 35px;
    color: var(--color-white);
    margin-bottom: 15px;
}
.post-container{
    width: 755px;
    background-color: var(--color-gray-2);
    border-radius: var(--border-radius-15);
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
}
.post-avatar{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}
.post-content{
    margin-left: 15px;
    margin-bottom: 15px;
}
.post-content-user{
    margin-top: 15px;
    display: flex;
    margin-bottom: 4px;
    width: 500px;
    margin-right: 100px;
}
.post-name{
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
.post-username{
    margin-right: 200px;
    padding-top: 1px;
    font-size: 13px;
    color: var(--color-light-gray);
}
.post-message{
    background-color: var(--color-gray-3);
    border-radius: 10px;
    padding: 10px;
    width: 620px;
    color: var(--color-white);
    margin-bottom: 10px;
}
.post-time{
    display: flex;
    color: var(--color-light-gray);
    font-size: 12px;
    margin-bottom: 15px;
}
.date{
    margin-right: 10px;
}
.submit-input{
    padding-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: var(--display);
    border: 0;
    background-color: var(--color-gray-2);
}
.view{
    width: 20px;
}
.friend-container{
    display: flex;
}
.friend-container:hover{
    --display: block;
}
.view_profile{
    padding-top: 20px;
    width: 20px;
}
.view-btn{

    border: 0;
    background-color: var(--color-gray-2);
}
.usernameUserView{
    display: flex;
}
.img-like{
    width: 25px;
}
.button-like{
    border: 0;
    background-color: var(--color-gray-2);
}
.like-container{
    display: flex;
   margin-right: 10px;
    width: 50px;
}
.count-like{
    margin-top: 4px;
    color: var(--color-light-gray);
}
.like-dislike-container{
    display: flex;
}
.img-dislike{
    width: 25px;
}
.button-dislike{
    border: 0;
    background-color: var(--color-gray-2);
}
.dislike-container{
    display: flex;
    width: 50px;
}
.count-dislike{
    margin-top: 4px;
    color: var(--color-light-gray);
}
/*------------*/
.section_main-panel-popular{
    width: var(--wight-right);
    height: 400px;
    background-color: var(--color-gray-2);
    border-radius:  var(--border-radius-15);
    margin-left: 20px;
    margin-bottom: 15px;
}
.panel-popular-header{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 15px;
}
/*-----------------*/
.panel-popular-content{
    overflow: auto;
    height: 336px;
}
.popular-post-container{
    width: 305px;
    background-color: var(--color-gray-2);
    border: var(--border-gray-1);
    border-radius: var(--border-radius-15);
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
}
.popular-post-avatar{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.popular-post-content{
    margin-left: 15px;
    margin-bottom: 5px;
}
.popular-post-content-user{
    margin-top: 15px;
    display: flex;
    margin-bottom: 2px;
    width: 200px;
}
.popular-post-name{
    color: white;
    font-size: 13px;
    margin-right: 5px;
}
.popular-post-username{
    padding-top: 1px;
    font-size: 12px;
    color: var(--color-light-gray);
}
.popular-post-message{
    background-color: var(--color-gray-3);
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    width: 215px;
    color: var(--color-white);
    margin-bottom: 5px;
}
.popular-post-time{
    display: flex;
    color: var(--color-light-gray);
    font-size: 10px;
    margin-bottom: 5px;
}
.popular-date{
    margin-right: 10px;
}
.popular-submit-input{
    padding-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: var(--display);
    border: 0;
    background-color: var(--color-gray-2);
}
.popular-view{
    width: 20px;
}
.popular-friend-container{
    display: flex;
}
.popular-friend-container:hover{
    --display: block;
}
.popular-view_profile{
    padding-top: 20px;
    width: 20px;
}
.popular-view-btn{

    border: 0;
    background-color: var(--color-gray-2);
}
.popular-usernameUserView{
    display: flex;
}
.popular-img-like{
    padding-top: 2px;
    width: 15px;
    height: 15px;
    margin-right: 2px;
}
.popular-button-like{
    padding: 0;
    border: 0;
    background-color: var(--color-gray-2);
}
.popular-like-container{
    display: flex;
    margin-right: 10px;
    width: 30px;
}
.popular-count-like{
    background-color: var(--color-gray-2);
    width: 10px;
    border: 0;
    font-size: 10px;
    color: var(--color-light-gray);
}
.popular-like-dislike-container{
    display: flex;
}
.popular-img-dislike{
    padding-top: 2px;
    width: 15px;
    height: 15px;
    margin-right: 2px;
}
.popular-button-dislike{
    padding: 0;
    border: 0;
    background-color: var(--color-gray-2);
}
.popular-dislike-container{
    display: flex;
    width: 30px;
}
.popular-count-dislike{
    background-color: var(--color-gray-2);
    width: 10px;
    border: 0;
    font-size: 10px;
    color: var(--color-light-gray);
}
/*---------------*/
.section_main-panel-follows{
    width: var(--wight-right);
    height: 250px;
    border-radius: var(--border-radius-15);
    background-color: var(--color-gray-2);
    margin-left: 20px;
}
.panel-follows-header{
    width: var(--wight-right);
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}
.panel-follows-content{
    overflow: auto;
    height: 180px;
}
/*-----------*/
.container-followers{
    width: var(--wight-left);
    background-color: var(--color-gray-2);
    height: 275px;
    margin-left: 20px;
    border-radius: var(--border-radius-15);
}
.followers-header{
    width: 100%;
    height: 40px;
    color: var(--color-white);
    margin-bottom: 10px;
}
.followers-header-text{
    padding-top: 10px;
    margin-left: 20px;
}
.followers-list{
    width: 100%;
    height: 210px;
}
.followers-list-item{
    overflow: auto;
    height: 210px;
    width: 100%;
    margin-bottom: 5px;
}
.followers-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.followers-info{
    margin-left: 15px;
}
.followers-name{
    padding-top: 5px;
    color: var(--color-white);
    margin-bottom: 3px;
}
.followers-username{
    color: var(--color-light-gray);
    font-size: 14px;
}
.followers{
    margin-left: 20px;
    width: 220px;
    display: flex;
    margin-bottom: 10px;
    margin-right: 35px;
}
.followers-link{
    text-decoration: none;
}
.followers-more{
    width: 100%;
    height: 30px;
}
.followers-more-container{
    width: 100px;
    margin: 0 auto;
}
.submit-input{
    padding-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: var(--display);
    border: 0;
    background-color: var(--color-gray-2);
}
.followers-view{
    width: 20px;
}
.followers-container{
    display: flex;
}
.followers-container:hover{
    --display: block;
}
.followers_profile{
    padding-top: 20px;
    width: 20px;
}
.followers-btn{
    border: 0;
    background-color: var(--color-gray-2);
}