html{
    background-color: var(--color-dark);
}
body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: var(--color-gray);
    box-shadow: var(--box-shadow);
}
.navbar-container{
    height: 60px;
    margin-left: 60px;
    display: flex;
}
.navbar-text{
    padding-top: 15px;
    margin-right: 1000px;
}
.navbar-text-link{
    color: var(--color-white);
    font-family: var(--family-mukta);
    font-size: 20px;
    text-decoration: none;
}
.logo-img{
    width: 70px;
    height: 70px;
}
.menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f2f2f2;
    transition: right 0.3s ease;
}

#sidebar.open {
    right: 0;
}

.menu-btn {
    position: absolute;
    top: 15px;
    right: 50px;
    background-color: var(--color-gray);
    border: 0;
}

.menu-btn-open{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--color-gray);
    border: 0;
}
.menu-img{
    width: 30px;
}
.cansel-img{
    width: 40px;
}
.menu{
    background-color: var(--color-gray);
    border-left: var(--border-gray-1);
}
.menu-item{
    width: 250px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 11px;
    font-size: 16px;
    border: var(--border-gray);
    border-radius: 10px;
    margin: 0 auto 10px;
}
.menu-links{
    width: 300px;
    margin-top: 70px;
}
.menu-links a{
    text-decoration: none;
    color: white;
}
.menu-item:hover{
    background-color: #151a21;
}

.container-support-list{
    height: 700px;
    overflow: auto;
    width: 50%;
    margin: 0 auto;
    background-color: var(--color-gray-2);
    border: var(--border-radius-15);
}
.container-support-message{
    margin: 0 auto 10px;
    width: 90%;
    color: white;
    border: var(--border-gray-1);
    background-color: var(--color-gray-2);
    border-radius: var(--border-radius-15);
}
.support-title{
    padding-top: 10px;
    text-align: center;
    width: 200px;
    margin: 0 auto 5px;
}
.support-email{
    text-align: center;
    width: 400px;
    margin: 0 auto 5px;
}
.support-message-header{
    text-align: center;
    width: 200px;
    margin: 0 auto 5px;
}
.support-message{
    background-color: var(--color-gray-3);
    border-radius: var(--border-radius-15);
    width: 400px;
    margin: 0 auto 10px;
}
.container-support-header{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 20px;
    margin-bottom: 20px;
}
.message-text{
    padding: 10px;
}